# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
test-results/
frontend/test-results/

# Production
/build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python junk
__pycache__/
*.pyc

# OS files
.DS_Store